:root {
    --btn-hover-color: #db2323 !important;
}


#msg {
    padding: 0 15px;
    margin: 15px 0;
    border: 1px solid #B71C1C;
    background-color: #e67878;
}

#graph-container .btn{
    padding: 50px 20px;
    text-align: center;
    box-sizing: content-box;
    font-size: 28pt;
}

#bar-wrapper {
    width: 80%;
    height: 40px;
}


.flex {
    display: flex;
    align-items: baseline;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.inline-block {
    display: inline-block;
}

/* MATERALIZE changes */
nav>div {
    padding: 0 30px;
}

h1 {
    font-size: 36pt !important;
}

.btn:hover {
    background-color: var(--btn-hover-color) !important;
}

 /* label focus color */
 .input-field input[type=text]:focus+label,
 .input-field input[type=password]:focus+label {
     color: #530b0b !important;
 }

 /* label underline focus color */
 .input-field input[type=text]:focus,
 .input-field input[type=password]:focus {
     border-bottom: 1px solid #921616 !important;
     box-shadow: 0 1px 0 0 #921616 !important;
 }